<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reporte">
      <h2 data-cy="reporteDetailsHeading"><span jhiTranslate="reportsApp.reporte.detail.title">Reporte</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ reporte.id }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.tipo">Tipo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'reportsApp.TipoReporte.' + reporte.tipo }}">{{ reporte.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.fechaInicio">Fecha Inicio</span></dt>
        <dd>
          <span>{{ reporte.fechaInicio | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.fechaFin">Fecha Fin</span></dt>
        <dd>
          <span>{{ reporte.fechaFin | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.intervalo">Intervalo</span></dt>
        <dd>
          <span>{{ reporte.intervalo }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.foreignId">Foreign Id</span></dt>
        <dd>
          <span>{{ reporte.foreignId }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.cancelado">Cancelado</span></dt>
        <dd>
          <span>{{ reporte.cancelado }}</span>
        </dd>
        <dt><span jhiTranslate="reportsApp.reporte.venta">Venta</span></dt>
        <dd>
          <span *ngFor="let venta of reporte.ventas; let last = last">
            <a [routerLink]="['/venta', venta.id, 'view']">{{ venta.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/reporte', reporte.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
